*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}


:root{
    --small-font: 13px;
    --big-font:80px;
    --medium-font:40px;
    --icon-size: 20px;

    --white-color:white;
    --white-grey:rgb(248, 248, 248);
    --black-color:black;
    --oxblood-color: #8f0909;
}


/* =================== who we are ==================== */

.Who_we_are{
    background-color: var(--black-color);
    width: 100%;
    position: relative;
    height: 40vh;
}

.Who_we_are::before{
    background-image:url("/images/29.jpg");
    height:40vh;
    width: 100%;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    opacity: 30%;
}

.who_we_are_flex{
    isolation: isolate;
}
.who_we_are_flex h2{
    padding-top: 200px;
    text-align: center;
    isolation: isolate;
    color: var(--white-color);
    font-size: 40px;
    text-transform: uppercase;
}


/* ================= vission ============= */
.vission{
    padding: 100px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.vission_div{
    background-color:var(--white-color);
    padding: 50px;
    border-radius: 20px;
    color: var(--black-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.vission_div p{
    color: var(--black-color);
    text-align: justify;
    font-size: 14px;
}



/* =================== history =============== */
.history_section{
    padding: 100px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

.history_section img{
    width: 90%;
    border-radius: 20px;
}


.history_div1 p{
    font-size: 14px;
    line-height: 50px;
    text-align: justify;
}


.history_div2 h2{
    padding-top: 50px;
}

.history_div2 p{
    font-size: 14px;
    line-height: 50px;
    text-align: justify;
}